<!DOCTYPE html>

<html>
   <head>

   </head>
   <body>
  
      <form method="post" action="/NPC/create"  name="npcCreationForm" id="createNPCFORM" class="section">
        <h2 class="page-header">Create NPC</h2>
            <h4 style="color: red;">
        The only information required is the name. All other fields are optional. Placeholders are an example of what I mean by the name of the section.
     </h4>
         <label required for="Name">[Required. Will be displayed on NPC listing]Enter the Character's Name:</label>
         <input ng-model="Name" id="Name" name="Name" placeholder="" required/> 
         <h3>
            Physical Description
         </h3>
         <label for="Gender">[Will be displayed on NPC listing] Enter the Character's Gender:</label>
         <input id="Gender"  type="text" name="Gender" placeholder="" list="GenderList">
         <datalist id="GenderList"></datalist>
         <br>
         <label for="Race">[Will be displayed on NPC listing] Enter the Character's Race:</label>
         <input id="Race" type="text" name="Race" placeholder="eg. human, elf, dwarf" list="RaceList">
          <datalist id="RaceList"></datalist>
         <br>
         <label for="Profession">[Will be displayed on NPC listing] Enter the Character's Profession or Class:</label>
         <input id="Profession" type="text" name="Profession" placeholder="eg. Wizard, Blacksmith, Hunter" list="ProfessionList">
         <datalist id="ProfessionList"></datalist>
         <br>
         <label for="Age" >[Will be displayed on NPC listing] Enter the Character's Age:</label>
         <input id="Age" type="text" name="Age" placeholder="" list="AgeList"> 
        <datalist id="AgeList"></datalist>
         <br>
         <br>
         <label for="PDesc">Enter the Character's Physical Description:</label>
         <textarea onkeyup="auto_grow(this)" id="PDesc" type="text" name="PDesc" placeholder="eg. What you'll describe to the players when they first meet the NPC"></textarea>
         <br>
         <h3>
            Mental Description and Plot Hooks
         </h3>
         <label for="Location">[Will be displayed on NPC listing] Enter the Character's working location and activity:</label>
         <input id="Location" type="text" name="Location" placeholder="eg. Working in the smith" list="LocationList">
         <datalist id="LocationList"></datalist>
         <br>
        <label for="Downtime"> Enter the Character's downtime location and activity:</label>
         <input id="Downtime" type="text" name="Downtime" placeholder="eg. Drinking in the bar">
         <br>
         <label for="Drive">Enter the Character's Drives:</label>
         <textarea onkeyup="auto_grow(this)" id="Drive" type="text" name="Drive" placeholder="eg. the Drives of a character are the character's goals, fears, core beliefs, and what they value."></textarea>
         <br>
         <label for="Hook">Enter potential plot hooks:</label>
         <textarea onkeyup="auto_grow(this)" id="Hook" type="text" name="Hook" placeholder="eg. Needs some help with killing goblins"></textarea>
         <br>
         <label for="Backstory">Enter the Character's Backstory:</label>
         <textarea onkeyup="auto_grow(this)" id="Backstory" type="text" name="Backstory" placeholder=""></textarea>
         <br>
         <h3>
            Personality
         </h3>
         <label for="persBrief">[Will be displayed on NPC listing] Enter the Character's Personality IN ONE WORD:</label>
         <input  maxlength="20" id="persBrief" type="text" name="persBrief" placeholder="eg. Quick-tempered">
         <br>
         <label for="Personality">Enter the Character's Personality:</label>
         <textarea onkeyup="auto_grow(this)" id="Personality" type="text" name="Personality" placeholder=""></textarea>
         <br>
         <label for="Speech">Enter the Character's Speech Patterns, Mannerisms, Quotes & Sayings:</label>
         <textarea onkeyup="auto_grow(this)" id="Speech" type="text" name="Speech" placeholder=""></textarea>
         <br>
         <h3>
            Affiliations
         </h3>
         <label for="NPCs">Enter other NPCs the Character knows and their relationship:</label>
         <textarea onkeyup="auto_grow(this)"  id="NPCs" type="text" name="NPCs" placeholder="Feel free to link to other NPCs here if you want."></textarea>
         <br>
         <label for="FactionType">[Will be displayed on NPC listing] Enter the Character's Faction Type</label>
         <input  maxlength="30" id="FactionType" type="text" name="FactionType" placeholder="eg. The Military, Thieves' Guild, Clown Guild" list="FactionList">
         <datalist id="FactionList"></datalist>
         <br>
         <label for="FactionDesc">Enter the Character's Faction Description:</label>
         <textarea id="FactionDesc" type="text" name="FactionDesc" placeholder=""></textarea>
         <br>
         <h3>
            Mechanics
         </h3>
         <label for="Stats">Enter the Character's Notable Stats:</label>
         <textarea onkeyup="auto_grow(this)"  id="Stats" type="text" name="Stats" placeholder="eg. High Str, proficiency in Deception"></textarea>
         <br>
         <label for="Items">Enter the Character's Notable Items:</label>
         <textarea onkeyup="auto_grow(this)"  id="Items" type="text" name="Items" placeholder="Know that if you include this section your NPC will probably be murdered."></textarea>
         <br>
         <h3>
           Other
        </h3>
        <label for="Other">Enter other notes that don't fit in any other category:</label>
         <textarea onkeyup="auto_grow(this)"  id="Other" type="text" name="Other" placeholder="eg. What worked and what didn't when ran for the party."></textarea>

        
        
         <button type="submit" id="greenButton" style="margin-top: 10px;" value="Send order" ng-disabled="npcCreationForm.$invalid">Submit</button>
         <!--
            <div id="right">
               <h4> Options </h4>
                {{#if user}}
              {{else}}
                  <p> <a href="/users/login">Login</a> if you wish to link this poll with your account and be able to edit the poll after creation. </p>
              {{/if}}
                {{#if user}}
                <input checked id="link" type="checkbox" name="user" value="link" class="vis-hidden">
                <label for="link" class="fullWidthButton">Link this poll to my account?</label>
               {{/if}}
                <input id="OpenAnswers" type="checkbox" name="OpenAnswers" value="OpenAnswers" class="vis-hidden">
                <label for="OpenAnswers" class="fullWidthButton">Allow Users to write their own answers.</label>
                <input id="Multiple" type="checkbox" name="Multiple" value="Multiple" class="vis-hidden fullWidthButton">
                <label for="Multiple" class="fullWidthButton">Allow Users to reply with multiple answers.</label>
                <input id="Change" type="checkbox" name="Change" value="Change" class="vis-hidden fullWidthButton">
                <label for="Change" class="fullWidthButton">Allow Users to rescind their Vote. </label>
                <input id="SeeResults" type="checkbox" name="SeeResults" value="SeeResults" class="vis-hidden fullWidthButton">
                <label for="SeeResults" class="fullWidthButton">Allow Users to see the results before voting.</label>
                 <input id="Captcha" type="checkbox" name="Captcha" value="Captcha" class="vis-hidden fullWidthButton">
                <label for="Captcha" class="fullWidthButton">Add reCaptcha to Voting Form to prevent spam and vote tampering.</label>
            </div>
            <div id="left">
            {{#if errors}} {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
            {{/each}} {{/if}}
              <input type="text" name="question" id="writeQuestion" placeholder="Write the Question here" style="font-size:20px; width: 100%; padding: 5px 0px 0px 0px; ">
              <br />
              <input type="text" name="answer" placeholder="Enter reply" class="reply">
              <input type="text" name="answer2" placeholder="Enter reply" class="reply">
              <button type="submit" class="submitButton" style="margin-top: 10px;" value="Send order">Submit</button>
              <br />
            </div>
            -->
      </form>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script type="text/javascript" src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
       <script type="text/javascript" src="/controllers/ajaxRequest.js"></script>  
      <script type="text/javascript" src="/controllers/creatingNPCs.client.js"></script>
    
      <!-- <script type="text/javascript" src="/controllers/creatingPolls.js">
         </script> -->
   </body>
</html>